<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.felix.backstage.mapper.AdminGroupMapper">
    <select id="getAdminGroupById" resultType="com.felix.backstage.entity.AdminGroup">
        select * from admin_group where id = #{id}
    </select>

</mapper>