<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.myweb.miaosha.mapper.GoodMapper">
    <select id="getGood" resultType="com.myweb.miaosha.entity.Good">
        select * from goods where good_name = #{goodName}
    </select>
    <select id="getGoodById" resultType="com.myweb.miaosha.entity.Good">
        select * from goods where id = #{id}
    </select>
    <select id="updateGood" resultType="com.myweb.miaosha.entity.Good">
        update goods set good_name=#{goodName}, good_total_num=#{totalNum}, good_remain_num=#{remainNum}
        where id=#{id}
    </select>
</mapper>